[user]
	name = Sepehr Lajevardi
	email = lajevardi@gmail.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[ui]
	color = true
[alias]
	st = status
	ls = ls-files
[http]
	postBuffer = 524288000
[push]
	default = simple
