[submodule ".setup/dotbot"]
	path = .setup/dotbot
	url = https://github.com/anishathalye/dotbot
    ignore = dirty
[submodule "conf/app/intellij"]
    path = conf/app/intellij
    url = https://github.com/sepehr/intellij-settings.git
    ignore = dirty
