<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Interface-Large</key>
	<dict>
		<key>AIM</key>
		<string>48/aim.png</string>
		<key>Bonjour</key>
		<string>48/bonjour.png</string>
		<key>GTalk</key>
		<string>48/google-talk.png</string>
		<key>Gadu-Gadu</key>
		<string>48/gadu-gadu.png</string>
		<key>GroupWise</key>
		<string>48/novell.png</string>
		<key>ICQ</key>
		<string>48/icq.png</string>
		<key>IRC</key>
		<string>48/irc.png</string>
		<key>Jabber</key>
		<string>48/jabber.png</string>
		<key>LiveJournal</key>
		<string>48/livejournal.png</string>
		<key>MSN</key>
		<string>48/msn.png</string>
		<key>Mac</key>
		<string>48/aol.png</string>
		<key>MySpace</key>
		<string>48/myspace.png</string>
		<key>QQ</key>
		<string>48/qq.png</string>
		<key>SILC</key>
		<string>48/silc.png</string>
		<key>SIMPLE</key>
		<string>48/simple.png</string>
		<key>Sametime</key>
		<string>48/meanwhile.png</string>
		<key>Yahoo!</key>
		<string>48/yahoo.png</string>
		<key>Yahoo! Japan</key>
		<string>48/yahoo.png</string>
		<key>Zephyr</key>
		<string>48/zephyr.png</string>
	</dict>
	<key>Interface-Small</key>
	<dict>
		<key>AIM</key>
		<string>16/aim.png</string>
		<key>Bonjour</key>
		<string>16/bonjour.png</string>
		<key>GTalk</key>
		<string>16/google-talk.png</string>
		<key>Gadu-Gadu</key>
		<string>16/gadu-gadu.png</string>
		<key>GroupWise</key>
		<string>16/novell.png</string>
		<key>ICQ</key>
		<string>16/icq.png</string>
		<key>IRC</key>
		<string>16/irc.png</string>
		<key>Jabber</key>
		<string>16/jabber.png</string>
		<key>LiveJournal</key>
		<string>16/livejournal.png</string>
		<key>MSN</key>
		<string>16/msn.png</string>
		<key>Mac</key>
		<string>16/aol.png</string>
		<key>MySpace</key>
		<string>16/myspace.png</string>
		<key>QQ</key>
		<string>16/qq.png</string>
		<key>SILC</key>
		<string>16/silc.png</string>
		<key>SIMPLE</key>
		<string>16/simple.png</string>
		<key>Sametime</key>
		<string>16/meanwhile.png</string>
		<key>Yahoo!</key>
		<string>16/yahoo.png</string>
		<key>Yahoo! Japan</key>
		<string>16/yahoo.png</string>
		<key>Zephyr</key>
		<string>16/zephyr.png</string>
	</dict>
	<key>List</key>
	<dict>
		<key>AIM</key>
		<string>16/aim.png</string>
		<key>Bonjour</key>
		<string>16/bonjour.png</string>
		<key>GTalk</key>
		<string>16/google-talk.png</string>
		<key>Gadu-Gadu</key>
		<string>16/gadu-gadu.png</string>
		<key>GroupWise</key>
		<string>16/novell.png</string>
		<key>ICQ</key>
		<string>16/icq.png</string>
		<key>IRC</key>
		<string>16/irc.png</string>
		<key>Jabber</key>
		<string>16/jabber.png</string>
		<key>LiveJournal</key>
		<string>16/livejournal.png</string>
		<key>MSN</key>
		<string>16/msn.png</string>
		<key>Mac</key>
		<string>16/aol.png</string>
		<key>MySpace</key>
		<string>16/myspace.png</string>
		<key>QQ</key>
		<string>16/qq.png</string>
		<key>SILC</key>
		<string>16/silc.png</string>
		<key>SIMPLE</key>
		<string>16/simple.png</string>
		<key>Sametime</key>
		<string>16/meanwhile.png</string>
		<key>Yahoo!</key>
		<string>16/yahoo.png</string>
		<key>Yahoo! Japan</key>
		<string>16/yahoo.png</string>
		<key>Zephyr</key>
		<string>16/zephyr.png</string>
	</dict>
</dict>
</plist>
