"*":
  "autocomplete-plus": {}
  core:
    projectHome: "/Users/Sepehr/Dev/"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-ocean-dark-spacegray"
    ]
  editor:
    fontFamily: "Hasklig"
    invisibles: {}
    lineHeight: 2
    preferredLineLength: 99999
    showIndentGuide: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
  emmet: {}
  "exception-reporting":
    userId: "426833a1-4773-339e-758c-d85bf97009a5"
  linter: {}
  "linter-phpmd":
    phpmdExecutablePath: "/Users/Sepehr/.composer/vendor/bin/phpmd"
  minimap: {}
  notifications: {}
  "one-dark-ui": {}
  "save-session":
    dataSaveFolder: "/Users/Sepehr/.atom/packages/save-session/projects"
  "sync-settings":
    _analyticsUserId: "5b5db146-9fea-450a-860c-a14379bd1001"
  teletype: {}
  welcome:
    showOnStartup: false
  whitespace: {}
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
