alabaster==0.7.9
argh==0.26.2
Babel==2.3.4
backports-abc==0.5
certifi==2017.1.23
cql==1.4.0
dargparse==0.2.5
Dex==0.6
docopt==0.6.2
docutils==0.13.1
futures==3.0.5
imagesize==0.7.1
Jinja2==2.9.5
linecache2==1.0.0
livereload==2.5.1
MarkupSafe==0.23
meld3==1.0.2
mercurial==4.1
ordereddict==1.1
pathtools==0.1.2
pbr==1.10.0
port-for==0.3.1
Pygments==2.2.0
pymongo==3.4.0
pytz==2016.10
PyYAML==3.12
requests==2.13.0
shadowsocks==2.8.2
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
sphinx-autobuild==0.6.0
sphinx-rtd-theme==0.1.9
SpoofMAC==2.1.1
stevedore==1.20.0
thrift==0.10.0
tornado==4.4.2
traceback2==1.4.0
unittest2==1.1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
watchdog==0.8.3
