<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>angry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>x(</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>angrydevil.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>}:)</string>
				<string>&gt;:)</string>
			</array>
			<key>Name</key>
			<string>Angry Devil</string>
		</dict>
		<key>armscrossed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>[-(</string>
			</array>
			<key>Name</key>
			<string>Arms Crossed</string>
		</dict>
		<key>blushing.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:"&gt;</string>
			</array>
			<key>Name</key>
			<string>Blushing</string>
		</dict>
		<key>cool.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>B-)</string>
				<string>b-)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>crying.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:((</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>grin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:D</string>
				<string>:d</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>heart.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;3</string>
			</array>
			<key>Name</key>
			<string>Heart</string>
		</dict>
		<key>inlove.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:x</string>
				<string>:X</string>
			</array>
			<key>Name</key>
			<string>In Love</string>
		</dict>
		<key>kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>sad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:(</string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>skeptical.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/:)</string>
			</array>
			<key>Name</key>
			<string>Skeptical</string>
		</dict>
		<key>sleepy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>I-|</string>
				<string>i-|</string>
			</array>
			<key>Name</key>
			<string>Sleepy</string>
		</dict>
		<key>smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:)</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>straightface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:|</string>
			</array>
			<key>Name</key>
			<string>Straight Face</string>
		</dict>
		<key>tear.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string>:"(</string>
			</array>
			<key>Name</key>
			<string>Tear</string>
		</dict>
		<key>tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:p</string>
				<string>:P</string>
			</array>
			<key>Name</key>
			<string>Tongue Out</string>
		</dict>
		<key>wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>winkgrin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;D</string>
				<string>;d</string>
			</array>
			<key>Name</key>
			<string>Wink Grin</string>
		</dict>
	</dict>
</dict>
</plist>
