# Dirs
alias dev="cd $HOME/Dev"
alias dl="cd $HOME/Downloads"
alias desk="cd $HOME/Desktop"
alias mvs="cd $HOME/Movies"
alias dotf="cd $HOME/.dotfiles; gcm 'Stylus update.' conf/app/brave/stylus.json > /dev/null 2>&1; gcm 'Dash snippets.' conf/app/dash/snippets.dash > /dev/null 2>&1; gcm 'LS rules.' conf/app/littlesnitch/configuration.user.xpl > /dev/null 2>&1; return 0"

# Executables
alias b=brew
alias bs="brew services"
alias kk="k -a -h"
alias p="ping g.co"
alias ls="ls -a"
alias yd="youtube-dl"
alias pds=pds-skeleton
alias dzm=dezoomify-rs
alias sf="./bin/console"
alias fzf="fzf --preview"
alias srv="brew services"
alias tt="t list by project"
alias imgur="imgur-uploader"
alias rsync="$BREW/bin/rsync"
alias kcachegrind="qcachegrind"
alias phu="./vendor/bin/phpunit"
alias apachectl="$BREW/bin/apachectl"
alias prettyjson="python -mjson.tool"
alias meld="/Applications/Meld.app/Contents/MacOS/Meld"
alias p4merge="/Applications/p4merge.app/Contents/MacOS/p4merge"
alias bcomp="/Applications/Beyond\\ Compare.app/Contents/MacOS/bcomp"
alias dc="docker"
alias dcc="docker-compose"
alias dcm="docker-machine"
alias amp="amplify"

# Git
alias g=git
alias gup="git up"
alias gl="git log --full-history --show-signature"
alias gll="git log --full-history --oneline --graph --decorate"
alias gt="git tag"
alias gts="git semver-tags"
alias gp="git push"
alias gpf="git push --force-with-lease"
alias gpt="git push && git push --tags"
alias gd="git diff"
alias gdw="git diff --color-words=."
alias gds="git diff --staged"
alias gdsw="git diff --staged --color-words=."
alias gdt="git difftool"
alias gdst="git difftool --staged"
alias grb="git rebase"
alias ga="git add"
alias gaa="git add ."
alias gap="git add --patch"
alias gb="git branch"
alias gs="git status"
alias gch="git checkout"
alias gsw="git switch"
alias gchm="git checkout master"
alias gr="git remote -v"
alias gc="git commit"
alias gcm="git commit -m"
alias gca="git add . && git commit"
alias gcs="git commit -S -m"
alias gcas="git commit -S -am"
alias gpv="git prev"
alias gnx="git next"
alias gbs="git bisect"
alias gm="git merge"
alias gmd="git merge --no-commit --no-ff"
alias gma="git merge --abort"
alias gmt="git mergetool"
alias gst="git add . && git stash"
alias gcp="git cherry-pick"
alias gsh="git show"
alias grs="git reset"
alias gft="git fetch origin"

# Networking
alias mylocalip="ipconfig getifaddr en0"
alias macaddr="networksetup -getmacaddress"
alias openports="sudo lsof -Pni | grep -i listen"
alias ipinfo="curl -s https://ipapi.co/json && echo"
alias virtualbox_restart="sudo /Library/Application\ Support/VirtualBox/LaunchDaemons/VirtualBoxStartup.sh restart"

# Laravel
alias a="php ./artisan"
alias llog="tail -f -n 450 storage/logs/laravel*.log | grep -i -E '^\[\d{4}\-\d{2}\-\d{2} \d{2}:\d{2}:\d{2}\]|Next [\w\W]+?\:' --color"
alias llog2="tail -f $PATH_LARALOG"

# Selenium
alias selenium3="cd $HOME/Dev/selenium && java -Dwebdriver.chrome.driver=chromedriver -Dwebdriver.gecko.driver=geckodriver -jar selenium3*.jar"
alias selenium2="cd $HOME/Dev/selenium && java -jar selenium2.52.0.jar"

# Misc
alias lastm="gstat --format=%y"
alias lasta="gstat --format=%x"
alias tcvb="php $HOME/Dev/www/projects/tcvb/index.php"
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1])"'
alias urldecode='python -c "import sys, urllib as ul; print ul.unquote_plus(sys.argv[1])"'
alias pron="trans -b -p"
alias transfa="trans :fa"
alias timestamp="date +%s"
alias phpdocfix="php-cs-fixer fix --rules=no_blank_lines_after_phpdoc,no_empty_phpdoc,no_trailing_whitespace_in_comment,phpdoc_align,phpdoc_annotation_without_dot,phpdoc_indent,phpdoc_no_access,phpdoc_no_empty_return,phpdoc_no_package,phpdoc_no_useless_inheritdoc,phpdoc_order,phpdoc_return_self_reference,phpdoc_scalar,phpdoc_separation,phpdoc_single_line_var_spacing,phpdoc_summary,phpdoc_trim,phpdoc_types,phpdoc_var_without_name"
