# Dirs
alias dev="cd $HOME/Dev"
alias dl="cd $HOME/Downloads"
alias desk="cd $HOME/Desktop"
alias mvs="cd $HOME/Movies"
alias dotf="cd $HOME/.dotfiles; gc 'Stylish update.' conf/app/chrome/stylish > /dev/null 2>&1; gc 'Dash snippets.' conf/app/dash/snippets.dash > /dev/null 2>&1; gc 'LS rules.' conf/app/littlesnitch/configuration.user.xpl > /dev/null 2>&1; return 0"

# Executables
alias g=git
alias b=brew
alias ls="ls -a"
alias yd="youtube-dl"
alias pds=pds-skeleton
alias mkdir="mkdir -p"
alias fzf="fzf --preview"
alias srv="brew services"
alias tt="t list by project"
alias imgur="imgur-uploader"
alias rsync="$BREW/bin/rsync"
alias kcachegrind="qcachegrind"
alias phpunit="./vendor/bin/phpunit"
alias apachectl="$BREW/bin/apachectl"
alias prettyjson="python -mjson.tool"
alias phpstorm="/Applications/PhpStorm.app/Contents/MacOS/phpstorm"
alias dictater="/Applications/Dictater.app/Contents/MacOS/Dictater"
eval "$(thefuck --alias)"

# Git
alias kk="k -a -h"
alias gl="git log --full-history --show-signature"
alias gll="git log --full-history --oneline --graph --decorate"
alias gt="git tag"
alias gp="git push"
alias gpt="git push && git push --tags"
alias gd="git diff"
alias gdt="git difftool"
alias ga="git add"
alias gaa="git add ."
alias gb="git branch"
alias gs="git status"
alias gch="git checkout"
alias gchm="git checkout master"
alias gr="git remote -v"
alias gc="git commit -m"
alias gca="git commit -am"
alias gcs="git commit -S -m"
alias gcas="git commit -S -am"
alias gpv="git prev"
alias gnx="git next"
alias gbs="git bisect"
alias gmd="git merge --no-commit --no-ff"
alias gma="git merge --abort"
alias gmt="git mergetool"
alias gst="git add . && git stash"

# Networking
alias mylocalip="ipconfig getifaddr en0"
alias macaddr="networksetup -getmacaddress"
alias openports="sudo lsof -Pni | grep -i listen"
alias ipinfo="curl -s https://ipapi.co/json && echo"
alias proxyon="export http_proxy=http://127.0.0.1:1087; export https_proxy=http://127.0.0.1:1087;"
alias proxyoff="unset http_proxy; unset https_proxy;"
alias proxystatus='echo "HTTP:  $http_proxy\nHTTPS: $https_proxy"; ipinfo;'

# Laravel
alias a="php ./artisan"
alias llog="tail -f $PATH_LARALOG"

# Selenium
alias selenium3="cd $HOME/Dev/selenium && java -Dwebdriver.chrome.driver=chromedriver -Dwebdriver.gecko.driver=geckodriver -jar selenium3*.jar"
alias selenium2="cd $HOME/Dev/selenium && java -jar selenium2.52.0.jar"

# Misc
alias lastm="gstat --format=%y"
alias lasta="gstat --format=%x"
alias tcvb="php $HOME/Dev/www/projects/tcvb/index.php"
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1])"'
alias urldecode='python -c "import sys, urllib as ul; print ul.unquote_plus(sys.argv[1])"'
alias pron="trans -b -p"
alias transfa="trans :fa"
alias timestamp="date +%s"
alias phpdocfix="php-cs-fixer fix --rules=no_blank_lines_after_phpdoc,no_empty_phpdoc,no_trailing_whitespace_in_comment,phpdoc_align,phpdoc_annotation_without_dot,phpdoc_indent,phpdoc_no_access,phpdoc_no_empty_return,phpdoc_no_package,phpdoc_no_useless_inheritdoc,phpdoc_order,phpdoc_return_self_reference,phpdoc_scalar,phpdoc_separation,phpdoc_single_line_var_spacing,phpdoc_summary,phpdoc_trim,phpdoc_types,phpdoc_var_without_name"
