<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AdiumSetVersion</key>
    <integer>1</integer>
    <key>Interface-Large</key>
    <dict>
        <key>AIM</key>
        <string>aim.tiff</string>
        <key>Facebook</key>
        <string>facebook.tiff</string>
        <key>GTalk</key>
        <string>gtalk.tiff</string>
        <key>ICQ</key>
        <string>icq.tiff</string>
        <key>MSN</key>
        <string>msn.tiff</string>
        <key>Jabber</key>
        <string>jabber.tiff</string>
        <key>Yahoo!</key>
        <string>yahoo.tiff</string>
        <key>Bonjour</key>
        <string>bonjour.tiff</string>
        <key>Gadu-Gadu</key>
        <string>gadugadu.tiff</string>
        <key>IRC</key>
        <string>irc.tiff</string>
        <key>LiveJournal</key>
        <string>livejournal.tiff</string>
        <key>Sametime</key>
        <string>lotussametime.tiff</string>
        <key>MobileMe</key>
        <string>mobileme.tiff</string>
        <key>MySpace</key>
        <string>myspace.tiff</string>
        <key>GroupWise</key>
        <string>novellgroupwise.tiff</string>
        <key>SIMPLE</key>
        <string>simple.tiff</string>
        <key>Twitter</key>
        <string>twitter.tiff</string>
        <key>Yahoo! Japan</key>
        <string>yahoo.tiff</string>
    </dict>
    <key>Interface-Small</key>
    <dict>
        <key>AIM</key>
        <string>aim-small.tiff</string>
        <key>Facebook</key>
        <string>facebook-small.tiff</string>
        <key>GTalk</key>
        <string>gtalk-small.tiff</string>
        <key>ICQ</key>
        <string>icq-small.tiff</string>
        <key>MSN</key>
        <string>msn-small.tiff</string>
        <key>Jabber</key>
        <string>jabber-small.tiff</string>
        <key>Yahoo!</key>
        <string>yahoo-small.tiff</string>
        <key>Bonjour</key>
        <string>bonjour-small.tiff</string>
        <key>Gadu-Gadu</key>
        <string>gadugadu-small.tiff</string>
        <key>IRC</key>
        <string>irc-small.tiff</string>
        <key>LiveJournal</key>
        <string>livejournal-small.tiff</string>
        <key>Sametime</key>
        <string>lotussametime-small.tiff</string>
        <key>MobileMe</key>
        <string>mobileme-small.tiff</string>
        <key>MySpace</key>
        <string>myspace-small.tiff</string>
        <key>GroupWise</key>
        <string>novellgroupwise-small.tiff</string>
        <key>SIMPLE</key>
        <string>simple-small.tiff</string>
        <key>Twitter</key>
        <string>twitter-small.tiff</string>
        <key>Yahoo! Japan</key>
        <string>yahoo-small.tiff</string>
    </dict>
    <key>List</key>
    <dict>
        <key>AIM</key>
        <string>aim-small.tiff</string>
        <key>Facebook</key>
        <string>facebook-small.tiff</string>
        <key>GTalk</key>
        <string>gtalk-small.tiff</string>
        <key>ICQ</key>
        <string>icq-small.tiff</string>
        <key>MSN</key>
        <string>msn-small.tiff</string>
        <key>Jabber</key>
        <string>jabber-small.tiff</string>
        <key>Yahoo!</key>
        <string>yahoo-small.tiff</string>
        <key>Bonjour</key>
        <string>bonjour-small.tiff</string>
        <key>Gadu-Gadu</key>
        <string>gadugadu-small.tiff</string>
        <key>IRC</key>
        <string>irc-small.tiff</string>
        <key>LiveJournal</key>
        <string>livejournal-small.tiff</string>
        <key>Sametime</key>
        <string>lotussametime-small.tiff</string>
        <key>MobileMe</key>
        <string>mobileme-small.tiff</string>
        <key>MySpace</key>
        <string>myspace-small.tiff</string>
        <key>GroupWise</key>
        <string>novellgroupwise-small.tiff</string>
        <key>SIMPLE</key>
        <string>simple-small.tiff</string>
        <key>Twitter</key>
        <string>twitter-small.tiff</string>
        <key>Yahoo! Japan</key>
        <string>yahoo-small.tiff</string>
    </dict>
</dict>
</plist>