@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-history {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

a {
  color: rgba(0,136,204, 1);
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

.header,
.status,
.event,
.message {
  position: relative;
  padding: 0.5em 0.5em 0.5em 1.7em;
  border-top: 1px solid #eee;

  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
}
  .header,
  body .status:first-child,
  body .event:first-child,
  body .message:first-child {
    margin-top: 0;
  }

.header,
.event,
.status {
  padding: 0.5em 0;
  border: none;
  text-align: center;
  background-color: #eee;
  color: #666;
  text-shadow: #fff 0 1px 0;
}
  .header .time,
  .header .text,
  .event .time,
  .event .text,
  .status .time,
  .status .text {
    font-size: 0.9em;
  }
  .header .text:after,
  .event .text:after,
  .status .text:after {
    content: ",";
  }

.event.consecutive,
.status.consecutive {
  border-top: 1px solid #fff;
}

.header {
  background-color: #333;
  color: #ccc;
  font-weight: bold;
  text-shadow: #000 0 1px 0;
}
  .header span {
    color: #eee;
  }

.sender,
.time,
.text {
  display: inline;
}

.message {
  display: -webkit-box;
}
  .message img {
    vertical-align: top;
    display: inline-block;
    margin: -0.1em 0.2em 0;
  }
  .message .sender {
    margin-left: -1em;
    font-weight: bold;
  }
    .message .sender:after {
      content: " »";
      margin: 0 0.2em 0 0.2em;
    }
  .message .time {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;

    padding: 0.3em 0.4em 0.3em;
    line-height: 1;
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 0.3em;
  }
  .message:hover .time {
    opacity: 1;
  }

.message.consecutive {
  border: none;
  padding-top: 0;
}
  .message.consecutive .sender {
    display: none;
  }
  .message.consecutive .time {
    top: -0.1em;
  }

.history {
  -webkit-animation-name: fade-history;
  opacity: 0.5;
}
