[user]
    name = Sepehr Lajevardi
    email = lajevardi@gmail.com
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    pager = sed 's/\t/.       /g' | less -R
[ui]
    color = true
[alias]
    st = status
    ls = ls-files
    forget = update-index --assume-unchanged
[http]
    postBuffer = 524288000
[push]
    default = simple
[github]
    user = sepehr
[ghi]
    token = !security find-internet-password -a sepehr -s github.com -l 'ghi token' -w
