[user]
    name = Sepehr Lajevardi
    email = lajevardi@gmail.com
    signningkey = 59ED63FFF9C3014D
[commit]
    gpgsign = true
[gpg]
    program = gpg
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    pager = sed 's/\t/.       /g' | less -R
[ui]
    color = true
[rebase]
    instructionFormat = %s — Authored: %an, Committed: %cn
[diff]
    tool = vimdiff
[difftool]
    prompt = false
    trustExitCode = true
[difftool "meld"]
    cmd = open -W -a Meld --args \"$REMOTE\" \"$LOCAL\"
[difftool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$REMOTE\" \"$LOCAL\"
[difftool "bcomp"]
    cmd = /Applications/Beyond\\ Compare.app/Contents/MacOS/bcomp \"$REMOTE\" \"$LOCAL\"
[merge]
    tool = diffconflicts
    # conflictstyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
    trustExitCode = true
    keepTemporaries = false
[mergetool "diffconflicts"]
    cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
[mergetool "meld"]
    cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[mergetool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$PWD/$BASE\" \"$PWD/$REMOTE\" \"$PWD/$LOCAL\" \"$PWD/$MERGED\"
[alias]
    st = status
    ls = ls-files
    pr = pull-request
    unstage = reset
    undelete = "!git checkout $(git rev-list -n 1 HEAD -- $1)~1 -- $1"
    stage-rm = rm --cached
    forget = "!git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch $1' --prune-empty --tag-name-filter cat -- --all; git rm -r $1"
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    prev = checkout HEAD~
    next = "!git log --reverse --pretty=%H master | grep -A 1 $(git rev-parse HEAD) | tail -n1 | xargs git checkout"
    filesof = diff-tree -r --no-commit-id --name-only --diff-filter=ACMRTUXB
    conflicts = diff --name-only --diff-filter=U
    authors = "!git log --format='%aN <%aE>' | sort -u"
    history = log --follow --reverse --patch
    chlg = "!git --no-pager log ${1:-$(git describe --tags --abbrev=0)}..HEAD --format='%h %s'"
    signall = "!git filter-branch --commit-filter 'git commit-tree -S "$@";' -- --all"
    branch-diff = "!git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative $1..$2"
    tags = "for-each-ref --sort=taggerdate --format='%(color:green)%(subject)%(color:reset), tagged: %(color:yellow)%(refname:short)%(color:reset)\n%(taggerdate)\n%(taggername) %(taggeremail)\n\n%(contents:body)\n' refs/tags"
    ignore = "update-index --assume-unchanged"
    unignore = "update-index --no-assume-unchanged"
    news = "!git log $(git describe --tags --abbrev=0)..HEAD --oneline"
[http]
    postBuffer = 524288000
[push]
    default = simple
[github]
    user = sepehr
[ghi]
    token = !security find-internet-password -a sepehr -s github.com -l 'ghi token' -w
[color "diff"]
    whitespace = red reverse
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

