[user]
    name = Sepehr Lajevardi
    email = lajevardi@gmail.com
    signningkey = 59ED63FFF9C3014D
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    pager = sed 's/\t/.       /g' | less -R
[ui]
    color = true
[alias]
    st = status
    ls = ls-files
    pr = pull-request
    unstage = reset
    stage-rm = rm --cached
    forget = "!git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch $1' --prune-empty --tag-name-filter cat -- --all; git rm -r $1"
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    prev = checkout HEAD~
    next = "!git log --reverse --pretty=%H master | grep -A 1 $(git rev-parse HEAD) | tail -n1 | xargs git checkout"
    filesof = diff-tree -r --no-commit-id --name-only --diff-filter=ACMRTUXB
    conflicts = diff --name-only --diff-filter=U
    authors = "!git log --format='%aN <%aE>' | sort -u"
    history = log --follow --reverse --patch
[http]
    postBuffer = 524288000
[push]
    default = simple
[github]
    user = sepehr
[ghi]
    token = !security find-internet-password -a sepehr -s github.com -l 'ghi token' -w
[color "diff"]
    whitespace = red reverse
[merge]
    tool = p4merge
    conflictstyle=diff3
[mergetool]
    keepTemporaries = false
    prompt = false
[diff]
    tool = p4merge
[commit]
    gpgsign = false
[gpg]
    program = gpg
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
